<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ajouter une BAL</title>
  </head>
  <body>
    <form class="form" action="/add_bal" method="post">
      <input type="text" name="address" placeholder="addresse" required="true"><br>
      <input type="text" name="burpro" placeholder="bureau plus proche"><br>
      <input type="text" name="pin" placeholder="code PIN" size="4" required="true"><br>
      <input type="text" name="prest" placeholder="ID du prestataire" required="true"><br>
      <input type="text" name="regat" placeholder="regat"><br>
      <input type="text" name="relv_par" placeholder="relevé par"><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
