<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin login</title>
  </head>
  <body>
    <nav>
      <!-- navbar -->
    </nav>
    <!-- ejs code to show if there is an error in credentials -->
     <% if (error != "undefined") {%>
       <%= error %>
       <% } %>

    <form class="form" action="/admin_login" method="post">
      <input type="email" name="email" placeholder="email" required="true">
      <input type="password" name="pass" placeholder="password" required="true">
    </form>
  </body>
</html>
