<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin profile</title>
  </head>
  <body>
    <nav>
      <!-- navbar -->
    </nav>
    <!-- content will be here soon -->
  </body>
</html>
