<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin login</title>
  </head>
  <body>
    <nav>
      <!-- navbar -->
    </nav>
    <!-- ejs code to show message if there is a redirection -->
    <% if (typeof ps != "undefined") { %>
      <%= ps %>
      <% } %>
    <!-- ejs code to show if there is an error in login -->
     <% if (typeof error != "undefined") { %>
       <%= error %>
       <% } %>

    <form class="form" action="/admin_login" method="post">
      <input type="text" name="id" placeholder="ID" required="true">
      <input type="password" name="pass" placeholder="password" required="true">
      <input type="submit" name="submit" value="connecter">
    </form>
  </body>
</html>
