<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin profile</title>
  </head>
  <body>
    <nav>
      <!-- navbar -->
    </nav>
    <!-- content will be here soon -->
    <a href="/add_prest">Ajouter un prestataire</a> <a href="/add_admin">Ajouter un administrateur</a><br>
    <a href="/add_bal" align="left">Ajouter une boite au lettre</a><br><a href="/deconnection" align="left">Deconnection</a>
    <a href="/prest_list">Afficher la liste des prestataires</a><br>
    <form class="form" action="/update_admin" method="post"><br>
      <input type="text" name="nom" value="<%= admin.nom %>"><br>
      <input type="text" name="prenom" value="<%= admin.prenom %>"><br>
      <input type="text" name="etablissement" value="<%= admin.etablissement %>"><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
