<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin profile</title>
  </head>
  <body>
    <nav>
      <!-- navbar -->
    </nav>
    <!-- content will be here soon -->
    <%= admin.nom %> <%= admin.prenom %>
    <a href="/add_prest">Ajouter un prestataire</a> <a href="/add_admin">Ajouter un administrateur</a><br>
    <a href="/ajouter_colis">Ajouter un colis</a>
  </body>
</html>
