<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Detailles d'administrateur</title>
  </head>
  <body>
    <nav>
      <!-- Navbar -->
    </nav>
    Nom: <%= admin.nom %><br>
    Prenom: <%= admin.prenom %><br>
    <% if (etablissement) != "" { %>etablissement: <%= admin.etablissement %><% } %><br>
  </body>
</html>
