<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <nav>
      <!-- Navbar here -->
    </nav>
    <!-- formulaire to login as admin -->
    <!-- formulaire to login as prest -->
  </body>
</html>
