<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <nav>
      <!-- Navbar here -->
    </nav>
    <!-- link to login as admin -->
    <a href="/admin">Espace Administrateur</a>
    <!-- link to login as prest -->
    <a href="/prest">Espace Prestataire</a>
  </body>
</html>
