<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Liste de prestataires</title>
  </head>

  <body>
    <% list.forEach(function (prest) { %>
    <p>
      name: <%= prest.nom %><br>
      prenom: <%= prest.prenom %><br>
      ID: <%= prest.id %><br>
    </p>
    <hr>
    <% }); %>
  </body>
</html>
