<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>

    </nav>
    Nom: <%= prest.nom %><br>
    Prenom: <%= prest.prenom %><br>
    ID: <%= prest.id %><br>
  </body>
</html>
