<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Permenant test</title>
  </head>
  <body>
    This is a permenant test to try adding the first admin <br>
    <form class="form" action="/test" method="post"><br>
      <input type="text" name="nom" placeholder="nom"><br>
      <input type="text" name="prenom" placeholder="prenom"><br>
      <input type="text" name="pass" placeholder="pass"><br>
      <input type="text" name="etablissement" placeholder="etablissement"><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
